.fieldRoot {
 transition: all 0.3s linear;
 margin-top: 15px;

  padding: 7px 17px 7px 15px !important;
  background-color: #f7f7f7;
  border: 1px solid rgba(0,0,0,.03);
  border-radius: 10px;
  cursor: pointer !important;

 &:after, &:before {
  display: none;
 }
}