.titleField {
  width: 100%;
  margin-bottom: 20px;

  &:before, &:after {
    display: none;
  }
  input {
    font-size: 36px;
    font-weight: 600;
  }
}

.editor {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 240px);
  font-size: 18px;
  margin-bottom: 20px;
}
